# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore build results
*.dll
*.exe
*.pdb

# Ignore Visual Studio temporary files
.vscode/
*.log

# Ignore publish folder
publish/

# Ignore environment files
.env

# Ignore dependency folders
node_modules/
.DS_Store

# User Exclusions (Secrets & Config)
firebase-messaging-sw.js
Server/firebase/firebase-admin-sdk.json
Server/appsettings.json
